* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.grid-container {
    /* Esta propiedad, implementa la grilla */
    display: grid;

    /* Esta propiedad, define el tamaño y cantidad de filas.
    se usa generalmente la medida en "fr", por ejemplo, 1fr */
    grid-template-rows: repeat(4, 75px);

    /* Esta propiedad, define el tamaño y cantidad de columnas.
    se usa generalmente la medida en "fr", por ejemplo, 1fr */
    grid-template-columns: repeat(3, 75px);

    /*
        Esta propiedad, implementa un margen entre los items.
        La misma, se compone de dos propiedades mas específicas:
            • row-gap: 1vw;
            • column-gap: 2vw;
    */
    gap: 1vw 2vw;

    /*
        Esta propiedad, define la ubicación de los items.
        La misma, se compone de dos propiedades mas específicas:
            • align-items: stretch;
            • justify-items: stretch;
    */
    place-items: end end;

    /*
        Esta propiedad, define la ubicación del conjunto de items.
        La misma, se compone de dos propiedades mas específicas:
            • align-content: stretch;
            • justify-content: stretch;
    */
    place-content: center space-between;
}

.item {
    border: 0.125vw solid black;
    background-color: beige;
}

.item:nth-of-type(10) {
    /*
        Esta propiedad, define la ubicación de un item.
        La misma, se compone de dos propiedades mas específicas:
            • align-self: stretch;
            • justify-self: stretch;
    */
    place-self: start center;
    background-color: brown;
}

.item:nth-of-type(9) {
    place-self: stretch stretch;
    background-color: salmon;

    /* Estas propiedades, permiten combinar items en una ubicación
    específica dentro de la grilla. La palabra reservada "span",
    sirve para indicar la cantidad celdas que se quieren combinar */
    grid-row: -3 / span 2;
    grid-column: 3;
}