@use "../abstracts/variables" as var;

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 1vw;
    color: var.$colorPrimaryDark;
    background-color: var.$colorSecondaryDark;

    p {
        text-align: center;
    }
}
