* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.parrafo1,
.parrafo2,
.parrafo3{
    padding: 3px;
    border: 1px solid black;
    background-color: beige;
    overflow: hidden;
}

.parrafo1 {
    white-space: nowrap; /* normal es por defecto */
}

.parrafo2 {
    white-space: nowrap;        /* normal es por defecto */
    text-overflow: ellipsis;    /* clip es por defecto */
}

.parrafo3 {
    line-height: 1.5em;     /* normal es por defecto */
    letter-spacing: 1px;    /* normal es por defecto */
    word-spacing: 1em;      /* normal es por defecto */
}

.parrafo4-short {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
}

div {
    height: fit-content;
    width: 250px;
    margin: 1vw;
    padding: 1vw;
    background-color: lightcyan;
    border: 1px solid black;
    text-align: justify;

    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

div button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-weight: bold;
    align-self: flex-end;
}