$backgroundColor: rgb(0, 0, 255);
$backgroundColorDark: rgb(0, 0, 138);
$backgroundColorLight: rgb(255, 255, 255);


// Nombres de variables sugeridas
$textColorPrimary: #212529;
$textColorSecondary: #f8f9fa;
$textColorSuccess: #0f5132;
$textColorDanger: #842029;
$textColorWarning: #664d03;
$textColorDisabled: #41464b;

$backgroundColorPrimary: linear-gradient(#b2ebf2, #26c6da);
$backgroundColorSecondary: linear-gradient(#e0f7fa, #80deea);
$backgroundColorSuccess: linear-gradient(#d2e6dc, #b9d7c8);
$backgroundColorDanger: linear-gradient(#fad7dc, #f5c3c8);
$backgroundColorWarning: linear-gradient(#fff5d2, #ffebb4);
$backgroundColorDisabled: linear-gradient(#e6e6eb, #d2d2d7);

$borderColorPrimary: #00838f;
$borderColorSecondary: #00acc1;
$borderColorSuccess: #198755;
$borderColorDanger: #dc3746;
$borderColorWarning: #ffc30a;
$borderColorDisabled: #90959d;

$buttonColorPrimary: linear-gradient(#b2ebf2, #26c6da);
$buttonColorSecondary: linear-gradient(#e0f7fa, #80deea);
$buttonColorSuccess: linear-gradient(#d2e6dc, #b9d7c8);
$buttonColorDanger: linear-gradient(#fad7dc, #f5c3c8);
$buttonColorWarning: linear-gradient(#fff5d2, #ffebb4);
$buttonColorDisabled: linear-gradient(#e6e6eb, #d2d2d7);