* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.articulo {
    padding: 2vw;
    margin: 2vw;
    background-color: beige;

    /* La siguiente propiedad (sombra de caja) se define por:
        x (permite valores negativos)
        y (permite valores negativos)
        blur (valor de difuminación)
        setup (interior/exterior)
        rgba (color)
    */
    box-shadow: 3px 3px 7px inset rgba(0, 0, 0, 0.4);
}

.articulo h3 {
    color: brown;
    font-size: 2em;

    /* La siguiente propiedad (sombra de texto) se define por:
        x (permite valores negativos)
        y (permite valores negativos)
        blur (valor de difuminación)
        rgba (color)
    */
    text-shadow: 0 0 3px rgba(0, 0, 0, 0.8);
}

.articulo p {
    text-shadow: -1px -1px 3px rgba(150, 5, 5, 0.7), 2px 2px 3px rgba(0, 0, 0, 0.5);
}