* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

/* Menú principal */
.navbar {
    margin: 2vw 0;
    display: flex;
    gap: 1vw;
}

.navbar-item {
    position: relative;
}

.navbar-item a {
    display: block;
    height: 5vh;
    width: max(20vw, 80px);
    padding: 1vw;
    background-color: brown;
    color: white;
    text-decoration: none;
    text-align: center;

    transition-property: background-color;
    transition-duration: 1s;
}

.navbar-item a:hover {
    background-color: black;
}

.navbar-item:hover>ul {
    visibility: visible;
}

/* Submenús desplegables */
.navbar-item ul {
    position: absolute;
    visibility: hidden;
}

.navbar-item ul li ul {
    top: 0;
    left: max(20vw, 80px);
}