$colorFontDark: rgb(50, 50, 50);
$colorFontDarker: rgb(25, 25, 25);
$colorFontLight: rgb(237, 231, 246);
$colorFontLighter: rgb(235, 235, 235);
$colorFontDisabled: rgb(150, 150, 150);

$colorBackgroundDark: rgb(103, 58, 183);
$colorBackgroundDarker: rgb(69, 39, 160);
$colorBackgroundLight: rgb(237, 231, 246);
$colorBackgroundLighter: rgb(250, 250, 250);
$colorBackgroundDisabled: rgb(150, 150, 150);

$colorBorderDark: rgb(69, 39, 160);
$colorBorderDarker: rgb(25, 25, 25);
$colorBorderLight: rgb(225, 225, 225);
$colorBorderLighter: rgb(235, 235, 235);
$colorBorderDisabled: rgb(150, 150, 150);