* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

section {
    margin: 2em;
}

section ol {
    list-style: inside decimal-leading-zero;
}

section ul {
    list-style-image: url("../images/icon-item.png");
    list-style-position: inside;
}