$colorDark: rgb(33, 37, 41);
$colorLight: rgb(248, 249, 250);
$colorSuccess: rgb(25, 135, 84);
$colorDanger: rgb(220, 53, 69);
$colorWarning: rgb(255, 193, 7);
$colorDisabled: rgb(206, 212, 218);
$colorTitlePrimary: $colorDark;
$colorTitleSecondary: $colorDark;
$colorSubtitle: $colorDark;
$colorParagraph: $colorDark;
$colorBackground-1: #4e342e;
$colorBackground-2: #6d4c41;
$colorBackground-3: #a1887f;
$colorBorderDark: $colorDark;
$colorBorderLight: $colorLight;
$colorBorderDisabled: $colorDisabled;
$colorButtonDark: $colorDark;
$colorButtonLight: $colorLight;
$colorButtonDisabled: $colorDisabled;